[user]
	email = federico.bruzzone.i@gmail.com
	name = Federico Bruzzone
[alias]
	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/main$/d; /remotes/p;\" | xargs -L1 git checkout -t"
	graph = "! git log --all --decorate --oneline --graph"
    s = status
    a = add
    l = log --oneline --graph --all
    c = commit
    ca = commit --amend
    p = push
    f = fetch
    co = checkout
    br = branch
    r = rebase
    prinfo = "!f() { b=$(git branch --show-current); m=$(git config branch.$b.merge); echo \"$(git config branch.$b.remote) ${m#refs/heads/}\"; }; f" # prinfo = rev-parse --abbrev-ref @{upstream}
    prnum = "!f() { git ls-remote ${1:-upstream} 'refs/pull/*/head' | grep $(git rev-parse HEAD); }; f"
    prbranches = "!git for-each-ref --format='%(refname:short)' refs/heads | while read b; do echo \"$b $(git config branch.$b.remote) $(git config branch.$b.merge)\"; done"

[core]
    editor = nvim ; vim
    excludesfile = ~/.gitignore_global
[difftool]
    prompt = true
[diff]
    tool = vimdiff
    ; tool = nvimdiff
[merge]
    tool = vimdiff
    ; tool = nvimdiff
; [difftool ""]
;    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
	templateDir = ~/.git_template
[submodule]
    recurse = true

; remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
; [remote "origin"]
;     fetch = +refs/heads/*:refs/remotes/origin/*
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
